/* style.css */

/* Général */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: #f8f8f8;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin-bottom: 10px;
  color: blue; 
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

a {
  color: #3498db; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style pour la navigation */
header {
  background-color: #42a5f5; /* Bleu */
  padding: 15px 0; 
  position: fixed; 
  width: 100%;
  top: 0;
  z-index: 10; 
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

nav ul {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: flex; 
}

nav li {
  margin-left: 30px; 
}

nav a {
  color: white; 
  text-decoration: none;
  font-size: 16px; 
}

nav a.logo {
  font-weight: bold;
  font-size: 24px; 
}

/* Style du bouton hamburger (caché par défaut sur grand écran) */
.hamburger {
  display: none;
}

/* Section Accueil */
#accueil {
  background-color: #ecf0f1;
  text-align: center;
  padding: 100px 0; 
}

#accueil p {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center; /* Justifier le paragraphe */
}

#accueil img { /* Style pour l'image dans la section Accueil */
  max-width: 80%; 
  height: auto;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* Section Fonctionnalités */
#fonctionnalites {
  padding: 5px 0;
}

.feature {
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative; 
}

.feature-content {
  display: flex;
  margin-bottom: 20px;
}

.feature-content > div {
  width: 50%;
}

.text-col { 
  text-align: center;
}

.feature img {
  width: 100%; 
  max-width: 500px; 
  height: auto;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

/* Style pour "Voir plus" */
.voir-plus {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3498db;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: none; 
}

.feature:hover .voir-plus {
  display: inline-block; 
}

.text-content {
  max-height: 350px; 
  overflow: hidden; 
  transition: max-height 0.3s ease;
}

.text-content.contenu-etendu {
  max-height: none;
  overflow: visible;
}

.feature-text {
  text-align: justify;
  padding: 0 20px;
}

.inscription-details h4,
.coefficient-details h4 {
  margin-bottom: 5px;
  text-align: left;
}

.inscription-details ul,
.coefficient-details ul,
.text-col ul { 
  list-style-type: disc;
  margin-left: 20px;
  padding: 0;
  text-align: left;
}

.inscription-details li,
.coefficient-details li,
.text-col li { 
  margin-bottom: 5px;
  text-align: left;
}

.feature:nth-child(even) .feature-content {
  flex-direction: row;
}

.feature:nth-child(odd) .feature-content {
  flex-direction: row-reverse;
}

/* Section Avantages */
#avantages {
  padding: 5px 0;
  background-color: #f8f9fa;
}

.avantages-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

.avantage {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.avantage p { /* Justifier les paragraphes dans les avantages */
  text-align: justify;
}

/* Section Témoignages */
#temoignages {
  padding: 1px 0;
  background-color: #ecf0f1;
}

.temoignages-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
}

.temoignage {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-style: italic;
}

.temoignage p { /* Justifier les paragraphes dans les témoignages */
  text-align: justify;
}

/* Section Ressources */
#ressources {
  padding: 10px 0;
}

#ressources h2 {
  margin: 0; 
  text-align: center; 
}

#ressources a {
  display: block; 
  text-align: center; 
  margin: 10px 0; 
}

/* Section Contact */
#contact {
  padding: 1px 0;
  background-color: #f8f9fa;
}

#contact .contact-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centrer le contenu horizontalement */
}

/* Flèche de remontée */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; 
  opacity: 0.7; 
  transition: opacity 0.3s ease;
}

.scroll-to-top:hover {
  opacity: 1;
}

.scroll-to-top a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #3498db;
  color: white;
  text-align: center;
  line-height: 40px; 
  border-radius: 50%;
}

/* Style du footer */
footer {
  background-color: #333; /* Couleur de fond sombre */
  color: #fff; /* Texte blanc */
  padding: 10px 0; 
  text-align: center; 
}

footer .copyright {
  font-size: 0.9em; 
}


/* Responsive Design */
@media (max-width: 768px) {
  
  .feature-content {
    flex-direction: column;
  }

  .feature-content > div {
    width: 100%; 
  }

  .avantages-grid,
  .temoignages-grid {
    grid-template-columns: 1fr; 
  }

  .voir-plus {
    display: inline-block; 
  }

  .feature:hover .voir-plus {
    display: inline-block; 
  }

  
  nav {
    flex-direction: column; 
  }

  nav ul {
    flex-direction: column; 
    width: 100%;
    background-color: #42a5f5;
    display: none; 
    margin-top: 10px; 
  }

  nav li {
    margin: 10px 0; 
    text-align: center; 
  }

  
  .hamburger {
    display: block; 
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 10px 0;
    cursor: pointer;
  }

  .hamburger:before,
  .hamburger:after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.3s;
  }

  
  nav.open ul {
    display: block;
  }

  nav.open .hamburger:before {
    transform: rotate(45deg) translate(5px, 5px);
  }

  nav.open .hamburger:after {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  
  .scroll-to-top {
    display: block; 
  }
}